@import './components/variables';

body{
    background-color: $pink;
    object-fit: cover;
}
.body_section{
    padding: 0 $side-padding;
    z-index: -2;
}
.card_section{
    background-color: $dark-red;
    border-radius: 30px ;
    box-shadow: 0 0 40px .1px #1c1c1c94;
}